@using ECommerceWeb.Common
@using ECommerce.Tables.Content
@using ECommerce.Tables.Utility.System
@using Volume.Toolkit.Paths
@model ECommerceWeb.Models.Cart.OrderViewModel

@{
    ViewBag.Title = "My Cart";
    int                     PendingOrderItems       = ECommerceWeb.Common.Session.PendingOrderItems ?? default (int);
}

@if (TempData[Constants.ALERT_SUCCESS] != null)
{
    <div class="alert alert-success" style="margin-top: 20px">
        <ul>
            <li>@TempData[Constants.ALERT_SUCCESS]</li>
        </ul>
    </div>
}
else if (TempData[Constants.ALERT_FAIL] != null)
{
    <div class="alert alert-danger" style="margin-top: 20px">
        <ul>
            <li>@TempData[Constants.ALERT_FAIL]</li>
        </ul>
    </div>
}

<h2>@ViewBag.Title</h2>

<div class="col-md-9">

    <h3>Order Items</h3>

    @if (PendingOrderItems > 0)
    {
        <table class="table table-striped" style="vertical-align: middle;">
            <tr>
                <th class="col-md-1">
                    #
                </th>
                <th class="col-md-2">
                    Item Name
                </th>
                <th class="col-md-2">
                    Image
                </th>
                <th class="col-md-1">
                    Price
                </th>
                <th class="col-md-1">
                    Quantity
                </th>
                <th class="col-md-2">
                    Actions
                </th>
            </tr>
            @for (int i = 0; i < Model.OrderItems.Count; i++)
            {
                Product     product     = Product.ExecuteCreate(Model.OrderItems[i].ProductID);
                OrderItem   item        = Model.OrderItems[i];
                int         num         = i + 1;

                <tr>
                    <td style="text-align:center;">
                        #@num
                    </td>
                    <td style="text-align:center;">
                        @Html.ActionLink(product.Name, Constants.ACTION_PRODUCT_VIEW, Constants.CONTROLLER_SHOP, new { ID = product.ID }, null)
                    </td>
                    <td style="text-align:center;">
                        <img src="@Url.Content(PathUtility.CombineUrls(Config.StorageUrl, $@"Images/Product/{product.ID}/{product.ImageName}"))" alt="Image" style="width: 100px;" />
                    </td>
                    <td style="text-align:center;">
                        @Func.Currencyfy(item.UnitCost)
                    </td>
                    <td style="text-align:center;">
                        @item.Quantity
                    </td>
                    <td style="white-space: nowrap; text-align: center;">
                        @using (Html.BeginForm(Constants.ACTION_REMOVE_ITEM, Constants.CONTROLLER_CART, new { OrderItemID = item.ID }, FormMethod.Post, null))
                        {
                            <button type="submit" class="glyphicon glyphicon-trash btn-link" style="font-size: 25px;"> </button>
                        }
                    </td>
                </tr>}
        </table>
    }
    else
    {
        <div style="text-align: center; margin-top: 20px;">
            <img src="@PathUtility.CombineUrls(Config.StorageUrl, "Images/empty_cart.png")" alt="Empty_Cart" />
            <h2>You don't have anything in your cart :(</h2>
        </div>
    }

</div>

<div class="col-md-3" style="outline: 3px solid cadetblue; background: lightblue;">

    <h3 style="margin-top: 20px;">Order Summary</h3>
    <hr />

    <div class="row" style="margin: auto;">
        <label for="totalItems">Total Items</label>
        <p class="pull-right" id="totalItems">@PendingOrderItems</p>
    </div>

    <div class="row" style="margin: auto;">
        <label for="shipping">Shipping</label>
        <p class="pull-right" id="shipping">Rs. 0.00</p>
    </div>

    <div class="row" style="margin: auto;">
        <label for="discounts">Discounts</label>
        <p class="pull-right" id="discounts">Rs. -0.00</p>
    </div>

    <div class="row" style="margin: auto; margin-top: 15px; vertical-align: central;">
        <label for="total" style="margin-top: 2px;">Total Amount</label>
        <p class="pull-right" id="total" style="font-size: large">@ECommerceWeb.Common.Func.Currencyfy(Model.TotalAmount)</p>
    </div>

    <hr />

    <button type="button" data-toggle="modal" data-target=".bs-checkout-modal-md" class="btn btn-block btn-primary" @if (PendingOrderItems == 0) { <text> disabled </text> } style="margin-bottom: 16px;">Checkout</button>

</div>


@* Checkout confirmation popup *@
<div class="modal bs-checkout-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header"><h4>Confirm Checkout <span class="glyphicon glyphicon-ok glyphi-1"></span></h4></div>
            <div class="modal-body">

                <h4>Shipping Information</h4>

                <dl class="dl-horizontal">
                    <dt>
                        Name: 
                    </dt>
                    <dd>
                        @ECommerceWeb.Common.Session.FullName
                    </dd>

                    <dt>
                        Shipping Address: 
                    </dt>
                    <dd>
                        @Model.User.ShippingAddress, @Model.User.Country
                    </dd>

                    <dt>
                        Contact Number: 
                    </dt>
                    <dd>
                        @Model.User.ContactNo
                    </dd>

                    <dt>
                        Email: 
                    </dt>
                    <dd>
                        @Model.User.Email
                    </dd>
                </dl>

                <h4>Order Information</h4>

                <dl class="dl-horizontal">
                    <dt>
                        Total Items: 
                    </dt>
                    <dd>
                        @ECommerceWeb.Common.Session.PendingOrderItems
                    </dd>

                    <dt>
                        Total Amount: 
                    </dt>
                    <dd>
                        @ECommerceWeb.Common.Func.Currencyfy(Model.TotalAmount)
                    </dd>
                </dl>

            </div>
            <div class="modal-footer">
                @using (Html.BeginForm(Constants.ACTION_CHECKOUT, Constants.CONTROLLER_CART, new { @OrderID = Model.Order.ID }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary btn-block">Confirm &amp; Pay</button>
                }
                <button type="button" data-toggle="modal" data-target=".bs-checkout-modal-md" style="margin-top: 10px;" class="btn btn-block btn-default" >Cancel</button>
            </div>
        </div>
    </div>
</div>
