@using ECommerceWeb.Common.Extensions

@model ECommerceWeb.Models.Home.LoginModel

@using (Ajax.BeginForm("Login", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "loginFormWrapper", OnComplete = "loginFormSubmitHandler" }))
{
	<fieldset>
		<legend>TODO: application name Sign In</legend>

		@Html.ValidationIconSummary()
        <div>
			@Html.TextBoxFor(x => x.EmailAddress, new { placeholder = ModelMetadata.FromLambdaExpression(x => x.EmailAddress, ViewData).DisplayName })
			@Html.ValidationIconFor(x => x.EmailAddress)
        </div>
        <div>
			@Html.PasswordFor(x => x.Password, new { placeholder = ModelMetadata.FromLambdaExpression(x => x.Password, ViewData).DisplayName })
			@Html.ValidationIconFor(x => x.Password)
        </div>
	</fieldset>

	<input type="submit" name="Login" value="Sign In" />
}