@using ECommerceWeb.Common
@model IEnumerable<ECommerceWeb.Models.Category.ListCategoryViewModel>

@{
    ViewBag.Title = "Category List";
}

@if (TempData["alert-success"] != null)
{
    <div class="alert alert-success" style="margin-top: 20px">
        <ul>
            <li>@TempData["alert-success"]</li>
        </ul>
    </div>
}
else if (TempData["alert-fail"] != null)
{
    <div class="alert alert-danger" style="margin-top: 20px">
        <ul>
            <li>@TempData["alert-fail"]</li>
        </ul>
    </div>
}

<h2>@ViewBag.Title</h2>
<h4>List of all Categories.</h4>

@Html.ActionLink("Create New", Constants.ACTION_ADD, Constants.CONTROLLER_CATEGORY, null, new { @class = "pull-right btn btn-primary", @style = "margin-bottom: 10px;" })

<table class="table table-striped" style="vertical-align: middle;">
    <tr>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="col-md-5">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.ImageSrc)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th class="col-md-1">
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center;">
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td style="white-space: nowrap; text-align: center;">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="summary text">@Html.DisplayFor(modelItem => item.Description)</div>
                <a href="#" class="more">more</a>
            </td>
            <td style="text-align: center;">
                <img src="@Url.Content(item.ImageSrc)" alt="Image" style="width: 100px;" />
            </td>
            <td>
                <div class="checkbox" style="padding-top: 0px; text-align: center;">
                    <label class="switch switch_type1" role="switch" style="cursor: not-allowed;">
                        @Html.EditorFor(modelItem => item.Status, new { htmlAttributes = new { @class = "switch__toggle", @id = "status-checkbox", @disabled = "disabled" } })
                        <span class="switch__label"></span>
                    </label>
                </div>
            </td>
            <td style="white-space: nowrap; text-align: center;">
                @Html.ActionLink(" ", Constants.ACTION_EDIT, Constants.CONTROLLER_CATEGORY, new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", @style = "font-size: 25px;" })
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash", @style = "font-size: 25px;" })
            </td>
        </tr>
    }

</table>
