@using ECommerceWeb.Common
@using ECommerce.Tables.Content
@model IEnumerable<ECommerceWeb.Models.Shop.ProductViewModel>

@{
    ViewBag.Title = "Index";
}

@if (TempData[Constants.ALERT_SUCCESS] != null)
{
    <div class="alert alert-success" style="margin-top: 20px">
        <ul>
            <li>@TempData[Constants.ALERT_SUCCESS]</li>
        </ul>
    </div>
}
else if (TempData[Constants.ALERT_FAIL] != null)
{
    <div class="alert alert-danger" style="margin-top: 20px">
        <ul>
            <li>@TempData[Constants.ALERT_FAIL]</li>
        </ul>
    </div>
}

<h2>@ViewBag.Title</h2>

<div class="pull-right">
    <label for="FilterBy">Filter by : </label>
    @Html.DropDownList("FilterBy", Func.FilterActiveCategoryList(Category.ListByStatus(Category.STATUS_ACTIVE)), 
    htmlAttributes: new { @class = "btn btn-default dropdown-toggle", @onchange = "FilterBy(this.value)", @style = "margin-bottom: 10px; margin-top: 7px;" })
</div>

<table class="table table-striped" style="vertical-align: middle;">
    <tr>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="col-md-6">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.ImageSrc)
        </th>
        <th class="col-md-1">
            Actions
        </th>
    </tr>

   @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, Constants.ACTION_PRODUCT_VIEW, Constants.CONTROLLER_SHOP, new { ID = item.ID }, null)
                </td>
                <td>
                    <div class="summary text">@Html.DisplayFor(modelItem => item.Description)</div>
                    <a href="#" class="more">more</a>
                </td>
                <td style="text-align:center;">
                    @Func.Currencyfy(item.Price)
                </td>
                <td style="text-align:center;">
                    <img src="@Url.Content(item.ImageSrc)" alt="Image" style="width: 100px;" />
                </td>
                <td style="white-space: nowrap; text-align: center">
                   @using (Html.BeginForm(Constants.ACTION_ADD, Constants.CONTROLLER_CART, new { ProductID = item.ID }, FormMethod.Post, null))
                    {
                        <button type="submit" class="btn-link">Add to Cart</button>
                    }
                </td>
            </tr>
        }

    }
    else
    {
        <tr>
            <th colspan="5" style="text-align: center">
                <span class="glyphicon glyphicon-filter" style="font-size: 50px; margin-top: 50px;"></span>
                <h3>No Products in the selected Category</h3>
            </th>
        </tr>
    }

</table>
