@using ECommerceWeb.Common
@model IEnumerable<ECommerceWeb.Models.Shop.ProductViewModel>

@{
    ViewBag.Title = "Index";
}

@if (TempData["alert-success"] != null)
{
    <div class="alert alert-success" style="margin-top: 20px">
        <ul>
            <li>@TempData["alert-success"]</li>
        </ul>
    </div>
}
else if (TempData["alert-fail"] != null)
{
    <div class="alert alert-danger" style="margin-top: 20px">
        <ul>
            <li>@TempData["alert-fail"]</li>
        </ul>
    </div>
}

<h2>@ViewBag.Title</h2>

<div class="pull-right">
    <label for="FilterBy">Filter by : </label>
    @Html.DropDownList("FilterBy", ViewBag.FilterList as List<SelectListItem>, 
    htmlAttributes: new { @class = "btn btn-default dropdown-toggle", @onchange = "FilterBy(this.value)", @style = "margin-bottom: 10px; margin-top: 7px;" })
</div>

<table class="table table-striped" style="vertical-align: middle;">
    <tr>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="col-md-6">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.ImageSrc)
        </th>
        <th class="col-md-1">
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, Constants.ACTION_PRODUCT_VIEW, Constants.CONTROLLER_SHOP, new { ID =  item.ID}, null)
            </td>
            <td>
                <div class="summary text">@Html.DisplayFor(modelItem => item.Description)</div>
                <a href="#" id="more">more</a>
            </td>
            <td style="text-align:center;">
                @Func.Currencyfy(item.Price)
            </td>
            <td style="text-align:center;">
                <img src="@Url.Content(item.ImageSrc)" alt="Image" style="width: 100px;" />
            </td>
            <td style="white-space: nowrap; text-align: center">
                @Html.ActionLink("Add to Cart", Constants.ACTION_ADD, Constants.CONTROLLER_CART, new { ProductID = item.ID, Quantity = 1 }, null)
            </td>
        </tr>
    }

</table>
