@using ECommerceWeb.Common
@if (ECommerceWeb.Common.Session.Authorized)
{
    using (Html.BeginForm(Constants.ACTION_LOGOUT, Constants.CONTROLLER_ACCOUNT, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@ECommerceWeb.Common.Session.FullName <span class="glyphicon glyphicon-user pull-right glyphi-2"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action(Constants.ACTION_MANAGE, Constants.CONTROLLER_ACCOUNT)">Account Settings <span class="glyphicon glyphicon-cog pull-right glyphi-2"></span></a>
                    </li>
                    <li>
                        <a href="@Url.Action(Constants.ACTION_CHANGE_PSW, Constants.CONTROLLER_ACCOUNT)">Change Password <span class="glyphicon glyphicon-pencil pull-right glyphi-2"></span></a>
                    </li>
                    <li>
                        <a href="" data-toggle="modal" data-target=".bs-example-modal-sm">Logout <span class="glyphicon glyphicon-log-out pull-right glyphi-2"></span></a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", Constants.ACTION_REGISTER, Constants.CONTROLLER_ACCOUNT, routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", Constants.ACTION_LOGIN, Constants.CONTROLLER_ACCOUNT, routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
