@using Volume.Web.Models
@model MaintenanceMessageModel

@if (Model.CurrentStatus == DeliveryStatus.StartsWithin24Hours)
{
	<div id="maintenance-message-24hour" class="maintenance-message">
		<div class="wrap">
			<h3>@Html.Raw(String.Format(Resources.Maintenance.MaintenanceMsg24HourTitle, Model.UtcDeliveryStart))</h3>
			@Html.Raw(Resources.Maintenance.MaintenanceMsg24HourCopy)
		</div>
	</div>
}
else if (Model.CurrentStatus == DeliveryStatus.StartsWithin1Hour)
{
	<div id="maintenance-message-1hour" class="maintenance-message">
		<div class="wrap">
			<h3>@Html.Raw(String.Format(Resources.Maintenance.MaintenanceMsg1HourTitle, Model.MinutesUntilStartRoundedDown, Model.DurationInMinutesRoundedUp))</h3>
			@Html.Raw(Resources.Maintenance.MaintenanceMsg1HourCopy)
		</div>
	</div>
}
else if (Model.CurrentStatus == DeliveryStatus.InProgress)
{
	<div id="maintenance-message-delivery" class="maintenance-message">
		<div class="wrap">
			<h3>@Html.Raw(Resources.Maintenance.MaintenanceMsgDeliveryHourTitle)</h3>
			@Html.Raw(String.Format(Resources.Maintenance.MaintenanceMsgDeliveryHourCopy, Model.MinutesUntilEndRoundedUp))
		</div>
	</div>
}